*{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

body{
	overflow: hidden;
}

#gameCanvas{
	background-color: #000000;
	position: relative;
	top: -50px;
	left: -50px;
}

#gaphicsResources{
	visibility: hidden;
}

#preRenderCanvases{
	/*visibility: hidden;*/
}

.shipPrerender{
	background-color: #000000;
}